<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>

  <app>
    <style>
      /*
       * Inline css to add simple styles for loader.
       * Is going to be replaced by angular after bootstrap.
       */
      app {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        padding-top: 45vh;
        text-align: center;
        background-color: #eee;
        font: 14px sans-serif;
      }
    </style>
    Loading...
  </app>

  <script data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="http://<%= htmlWebpackPlugin.options.metadata.host %>:<%= htmlWebpackPlugin.options.metadata.port %>/webpack-dev-server.js"></script>
 <!--// <script src="/webpack-dev-server.js"></script>-->
  <% } %>


</body>
</html>
