<h1 class="page-title">Genel <small><small>Görünüm</small></small>
</h1>
<div class="row" *ngIf="model">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <section class="widget bg-primary text-white">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-xs-3">
            <span class="widget-icon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
          </div>
          <div class="col-xs-9">
            <h6 class="no-margin">MÜŞTERİLER</h6>
            <p class="h2 no-margin fw-normal">{{model.MusteriSayisi}}</p>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-xs-6">
            <h6 class="no-margin">Yeni C.Kartlar</h6>
            <!-- <p class="value5">+5</p> -->
            <p class="value5">+{{model.YeniCKlar}}</p>
          </div>
          <div class="col-xs-6">
            <h6 class="no-margin">Genişleme Hızı</h6>
            <!-- <p class="value5">4.5%</p> -->
            <p class="value5">{{model.GenislemeHizi}}%</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <section class="widget bg-info text-white">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-xs-3">
            <span class="widget-icon">
              <i class="fa fa-turkish-lira"></i>
            </span>
          </div>
          <div class="col-xs-9">
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="57">
              <div>
                <h6 class="no-margin">BUGÜNKÜ TAHSİLATLAR</h6>
                <!-- <p class="h2 no-margin fw-normal">12,324</p> -->
                <p class="h2 no-margin fw-normal">{{model.BugunkuTahsilatlar}}</p>
              </div>
              <div>
                <h6 class="no-margin">DÜNKÜ TAHSİLATLAR</h6>
                <!-- <p class="h2 no-margin fw-normal">11,885</p> -->
                <p class="h2 no-margin fw-normal">{{model.DunkuTahsilatlar}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-xs-6">
            <!-- <h6 class="no-margin">Tahsilatlar</h6>
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="25">
              <div>
                <p class="value5">1,332</p>
              </div>
              <div>
                <p class="value5">20.1%</p>
              </div>
            </div> -->
          </div>
          <div class="col-xs-6">
            <!-- <h6 class="no-margin">Genişleme Hızı</h6>
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="26">
              <div>
                <p class="value5">217</p>
              </div>
              <div>
                <p class="value5">2.3%</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <section class="widget bg-gray">
      <div class="widget-body clearfix">
        <div live-tile class="live-tile" data-mode="fade" data-speed="750" data-delay="4000" data-height="104">
          <div class="bg-gray text-white">
            <div class="row flex-nowrap">
              <div class="col-xs-3">
                <span class="widget-icon">
                  <i class="fa fa-list"></i>
                </span>
              </div>
              <div class="col-xs-9">
                <h6 class="no-margin">BEKLEYEN SİPARİŞLER</h6>
                <p class="h2 no-margin fw-normal">{{model.BekleyenSiparisler}}</p>
              </div>
            </div>
            <div class="row flex-nowrap">
              <!-- <div class="col-xs-6">
                <h6 class="no-margin">Planlananlar</h6>
                <p class="value5">{{model.SiparislerPlanlananlar}}</p>
              </div>
              <div class="col-xs-6">
                <h6 class="no-margin">Geçen Hafta</h6>
                <p class="value5">{{model.SiparislerGecenHafta}}</p>
              </div> -->
            </div>
          </div>
          <div class="text-white">
            <div class="row flex-nowrap">
              <div class="col-xs-3">
                <span class="widget-icon">
                  <i class="glyphicon glyphicon-certificate"></i>
                </span>
              </div>
              <div class="col-xs-9">
                <h6 class="no-margin">ÜRETİMDEKİ SİPARİŞLER</h6>
                <!-- <p class="h2 no-margin fw-normal">13.8%</p> -->
                <p class="h2 no-margin fw-normal">{{model.UretimdekiSiparisler}}</p>
              </div>
            </div>
            <div class="row flex-nowrap">
              <!-- <div class="col-xs-6">
                <h6 class="no-margin">Ödenmiş</h6>
                <p class="value5">{{model.OdenmisSiparisler}}</p>
              </div>
              <div class="col-xs-6">
                <h6 class="no-margin">Ödemesi Bekleyenler</h6>
                <p class="value5">{{model.OdemesiBekleyenlerSiparisler}}</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <section class="widget bg-success text-white">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-xs-3">
            <span class="widget-icon">
              <i class="glyphicon glyphicon-signal"></i>
            </span>
          </div>
          <div class="col-xs-9">
            <h6 class="no-margin">TOPLAM KAZANÇ</h6>
            <!-- <p class="h2 no-margin fw-normal">$7,448</p> -->
            <p class="h2 no-margin fw-normal">{{model.ToplamKazanc}}</p>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-xs-6">
            <h6 class="no-margin">Geçen Ay</h6>
            <!-- <p class="value5">$83,541</p> -->
            <p class="value5">{{model.ToplamKazancGecenAy}}</p>
          </div>
          <div class="col-xs-6">
            <h6 class="no-margin">Geçen Hafta</h6>
            <!-- <p class="value5">$17,926</p> -->
            <p class="value5">{{model.ToplamKazancGecenHafta}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row" *ngIf="model" flot-chart-widget>
</div>
<!-- <div class="row">
  <div class="col-lg-7 col-xl-8 col-xs-12">
    <section class="widget" widget>
      <header>
        <h5>
          <span class="fw-semi-bold">D3</span> Charts
        </h5>
        <div class="widget-controls">
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini text-muted">
          This project is an attempt to build re-usable charts and chart components for <span class="fw-semi-bold">d3.js</span>          without taking away the power that d3.js gives you.
        </p>
        <div nvd3-chart [chart]="nvd31Chart" [datum]="nvd31Data">
          <svg></svg>
        </div>
      </div>
    </section>
  </div>
</div> -->