<breadcrumb [itemId]="11"></breadcrumb>
<section class="widget" widget>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 float-xs-left">
        <a class="btn btn-secondary width-100 mb-xs" role="button" [routerLink]="['/app/booking/reservation']">
          <i class="glyphicon glyphicon-plus text-success"></i>
          Add
        </a>
      </div>
      <div class="width-200 float-xs-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" (keyup)="filter($event)" [(ngModel)]="filterQuery" type="text" placeholder="Search by GuestName...">
        </div>
      </div>
      <table class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfActivePage]="activePage"
                    (mfOnPageChange)="onPageChange($event)" [(mfAmountOfRows)]="itemsTotal" (mfSortOrderChange)="onSortOrder($event)">
        <thead>
        <tr>
		          <th>
            <mfDefaultSorter by="GuestName">Guest Name</mfDefaultSorter>
          </th>
		          <th>
            <mfDefaultSorter by="NumberOfGuest">KDV</mfDefaultSorter>
          </th>
		          <th>
            <mfDefaultSorter by="Telephone">Telephone</mfDefaultSorter>
          </th>
		          <th>
            <mfDefaultSorter by="ReservationMadeBy">Reservation Made By</mfDefaultSorter>
          </th>
		          <th>
            <mfDefaultSorter by="ArrivalDate">Arrival Date</mfDefaultSorter>
          </th>
		          <th>
            <mfDefaultSorter by="DepartureDate">Departure Date</mfDefaultSorter>
          </th>
		          <th class="no-sort">
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of mf.data">
					<td>{{reservation.GuestName}}</td>
					<td>{{reservation.NumberOfGuest}}</td>
					<td>{{reservation.Telephone}}</td>
					<td>{{reservation.ReservationMadeBy}}</td>
					<td>{{reservation.ArrivalDate | date:"dd/MM/yyyy HH:mm"}}</td>
					<td>{{reservation.DepartureDate | date:"dd/MM/yyyy HH:mm"}}</td>
		          <td class="width-200">
            <a class="btn btn-secondary width-100 mb-xs" role="button" [routerLink]="['/app/booking/reservation', reservation.Id]">
              <i class="glyphicon glyphicon-edit text-success"></i>
              Edit
            </a>
            <button class="btn btn-secondary width-80 mb-xs" role="button" (click)="delete(reservation)">
              <i class="glyphicon glyphicon-trash text-danger"></i>
              Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="mf.data.length === 0">
          <td colspan="100">
            Nothing found.
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
