<breadcrumb [itemId]="12" [lastText]="upsertText"></breadcrumb>
<section class="widget" widget>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal" role="form" #form="ngForm" (ngSubmit)="save(form.value, form.valid)">
                    <fieldset *ngIf="model">
                        <input type="hidden" [(ngModel)]="model.Id" [value]="model.Id" name="Id" />
                        <legend><strong *ngIf="model.Id">{{upsertText}} - </strong><strong *ngIf="!model.Id">{{upsertText}} - </strong>{{model.GuestName}}</legend>
                        <div *ngIf="responseResult" class="form-group row">
                            <div *ngIf="!responseResult.success" class="col-md-12 alert alert-danger">
                                <span *ngFor="let msg of responseResult.Messages">{{msg}}</span>
                            </div>
                            <div *ngIf="responseResult.success" class="col-md-12 success alert-success">
                                <span *ngFor="let msg of responseResult.Messages">{{msg}}</span>
                            </div>
                        </div>
						                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="GuestName">Guest Name</label>
                            <div class="col-md-8 ">
							                                <input type="text" required class="form-control" id="GuestName" [(ngModel)]="model.GuestName" name="GuestName" #GuestName="ngModel">
							                            </div>
                        </div>
						                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="NumberOfGuest">KDV</label>
                            <div class="col-md-8 ">
							                                <input type="number" required class="form-control" id="NumberOfGuest" [(ngModel)]="model.NumberOfGuest" name="NumberOfGuest" #NumberOfGuest="ngModel">
							                            </div>
                        </div>
						                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="Telephone">Telephone</label>
                            <div class="col-md-8 ">
							                                <input type="text" required class="form-control" id="Telephone" [(ngModel)]="model.Telephone" name="Telephone" #Telephone="ngModel">
							                            </div>
                        </div>
						                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="ReservationMadeBy">Reservation Made By</label>
                            <div class="col-md-8 ">
							                                <input type="text"  class="form-control" id="ReservationMadeBy" [(ngModel)]="model.ReservationMadeBy" name="ReservationMadeBy" #ReservationMadeBy="ngModel">
							                            </div>
                        </div>
						                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="ArrivalDate">Arrival Date</label>
                            <div class="col-md-8 ">
							                                <datetime [(ngModel)]="model.ArrivalDate" id="ArrivalDate" required [datepicker]="datepickerOpts" name="ArrivalDate" #ArrivalDate="ngModel"></datetime>
							                            </div>
                        </div>
						                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="DepartureDate">Departure Date</label>
                            <div class="col-md-8 ">
							                                <datetime [(ngModel)]="model.DepartureDate" id="DepartureDate" required [datepicker]="datepickerOpts" name="DepartureDate" #DepartureDate="ngModel"></datetime>
							                            </div>
                        </div>
						
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-inverse" (click)="cancel(form.touched)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
</section>