<div class="col-lg-6 col-xs-12">
  <section *ngIf="model" widget class="widget widget-chart-stats-simple">
    <header>
      <div class="row">
        <div class="col-xs-3">
          <h6>
            Toplam Satışlar
          </h6>
          <p class="value5">
            <!-- Ağustos, 2017 -->
            {{model.ToplamSatislar}}
          </p>
        </div>
        <div class="col-xs-3">
          <h5>
            <small>En Çok</small>
          </h5>
          <p class="value6 fs-sm">
            <!-- Mart, 2017 -->
            {{model.EnCok}}
          </p>
        </div>
      </div>
    </header>
    <div class="widget-body">
      <div class="chart bg-body-light">
        <div flot-chart [data]="[model.DataToplamSatislar]" class="chart-inner"></div>
      </div>
    </div>
  </section>
</div>
<div class="col-lg-6 col-xs-12">
  <section *ngIf="model" widget class="widget widget-chart-stats-simple">
    <header>
      <h6 class="mb-0">
        <span class="fw-semi-bold">Bütçe</span> <span class="tag tag-pill tag-danger">2017</span>
      </h6>
      <!-- <span class="text-muted fs-mini">monthly report will be available in <a href="#">6 hours</a></span> -->
    </header>
    <div class="widget-body">
      <div class="chart-stats">
        <div class="row">
          <div class="col-md-5">
            <div class="clearfix m-t-1">
              <h6 class="pull-left text-muted mb-xs">
                Gelir
              </h6>
              <p class="pull-right h6 mb-xs">
                <span class="fw-semi-bold">{{model.Gelir}}</span>
              </p>
            </div>
            <div class="clearfix">
              <h6 class="pull-left no-margin text-muted">
                Son Günlerdeki
              </h6>
              <p class="pull-right">
                <span class="fw-semi-bold">{{model.SonGunlerdeki}}</span>
              </p>
            </div>
          </div>
          <div class="col-md-3 text-xs-right m-t-1">
            <h6 class="text-muted mb-xs">Talepler</h6>
            <!-- <p class="fw-semi-bold">14:30 itibarıyla 5 adet</p> -->
            <p class="fw-semi-bold">{{model.Talepler}}</p>
          </div>
          <div class="col-md-4 text-xs-right m-t-1">
            <h6 class="text-muted mb-xs">Son Güncelleme</h6>
            <p class="fw-semi-bold">{{model.SonGuncelleme}}</p>
          </div>
        </div>
      </div>
      <div class="chart bg-body-light">
        <div flot-chart [data]="[model.DataButce]" class="chart-inner"></div>
      </div>
    </div>
  </section>
</div>
