<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using <#= ProjectName #>.Common.Models;

namespace <#= ProjectName #>.Contracts.Business
{
	public interface I<#= type.Name #>Business : IBaseBusiness<<#= type.Name #>>
	{
	}
}
